:root.theme-dark {
  --color-bg-subtitle: var(--red);
  --color-title: var(--violet);
  --color-subtitle: var(--blue);
  --color-main-text: var(--pink);
  --color-text-accent: var(--red);
  --color-title-shadow: var(--red);
  --color-navigation: var(--red);
  --color-section-title: var(--red);
  --color-decorated: var(--red);
  --color-border-hover:var(--red-light);


  --background-image: url('../images/cover-image-dark.png');
}

.theme-dark .header__decorated-item {
  display: flex;
}


.theme-dark .header__decorated-item::after {
  content: '';
  inline-size: 13px;
  block-size: 13px;
  border-radius: 100%;
  background-color: var(--color-decorated);
  filter: blur(2px);
}

