.page {
  background-image: var(--background-image);
  background-color: var(--background-main-color);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--main-font-family, monospace), "Roboto Mono", monospace;
  font-size: var(--main-font-size);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: start;
  padding-inline: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-corners {
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
}

.decorated-corners_top {
  top: 10px;
  right: 10px;
  border-inline-end: 1px solid var(--color-decorated);
  border-block-start: 1px solid var(--color-decorated);
}

.decorated-corners_bottom {
  bottom: 10px;
  left: 10px;
  border-inline-start: 1px solid var(--color-decorated);
  border-block-end: 1px solid var(--color-decorated);
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--color-border-hover);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid currentColor;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--color-navigation);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}

.header__decorated-item {
  position: absolute;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  top: 10px;
  right: 18px;
  gap: 10px;
  font-family: inherit;
  color: var(--color-bg-subtitle);
  font-size: inherit;
}

.header__decorated-item::after {
  content: "";
  inline-size: 13px;
  block-size: 13px;
  border-radius: 100%;
  background-color: var(--red);
  filter: blur(2px);
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: var(--color-navigation);
  text-transform: lowercase;
  inline-size: 70px;
  block-size: 26px;
  padding: 0;
  line-height: 26px;
}

.title {
  font-family: inherit;
  color: var(--color-title);
  font-size: var(--font-size-mobile);
  line-height: 76%;
  text-shadow: 4px 4px 0 var(--color-title-shadow);
}

.header__description {
  align-self: center;
  font-size: inherit;
}

.title-decor {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--color-bg-subtitle);
  color: var(--color-subtitle);
  font-weight: bold;
}

.section__title {
  font-family: inherit;
  font-size: inherit;
  line-height: 23.5px;
  color: var(--color-section-title);
}

.section__paragrap {
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  color: var(--color-main-text);
  line-height: 23.4px;
}

.section__text-accent {
  text-shadow: 2px 2px 0 var(--color-text-accent-shadow);
  text-decoration: none;
}

.section__text-accent:hover {
  border-block-end: 1px solid currentColor;
}

.section__text-accent:focus-visible {
  outline: 1px solid var(--color-main-text);
}

.section__wraper {
  padding-inline: 10px;
  padding-block-start: 40px;
  padding-block-end: 50px;
}

.section__wraper > *:not(:last-child) {
  margin-block-end: 50px;
}

.section {
  display: grid;
  gap: 20px;
}

.section__subtitle {
  line-height: 23px;
  margin-block-end: 10px;
}

.section__subtitle-list {
  font-weight: normal;
}

.section__subtitle-name-list {
  line-height: 23.5px;
  margin-block-end: 20px;
}

.section__paragrah-wraper:not(:last-child) {
  margin-block-end: 20px;
}

.gallary {
  padding-block-end: 40px;
  padding-inline: 10px;
}

.gallary__title {
  line-height: 24px;
  margin-block-end: 12px;
}

.gallary__wraper {
  display: grid;
  gap: 10px;
}

.gallary__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.footer {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  justify-content: center;
  align-items: center;
}

@media (width >= 768px) {
  .header {
    min-block-size: 1024px;
    padding-inline-end: 20px;
    padding-inline-start: 0;
    padding-block-start: 6px;
  }

  .decorated-corners_top {
    top: 20px;
    right: 20px;
    border-inline-end: 1px solid var(--color-decorated);
    border-block-start: 1px solid var(--color-decorated);
  }

  .decorated-corners_bottom {
    bottom: 20px;
    left: 20px;
    border-inline-start: 1px solid var(--color-decorated);
    border-block-end: 1px solid var(--color-decorated);
  }

  .header__decorated-item {
    top: 20px;
    right: 28px;
  }

  .header__description {
    inline-size: 49%;
    justify-self: end;
    margin-block-end: 20px;
  }

  .section {
    gap: 20px;
  }

  .section__wraper {
    padding-block-start: 60px;
    padding-block-end: 79px;
    padding-inline: 20px;
  }

  .large-text-markap {
    display: grid;
    grid-template-columns: 32% 1fr;
  }

  .small-text-markap-title {
    inline-size: 31%;
  }

  .section__subtitle-name-list {
    line-height: 26px;
  }

  .section__wraper > *:not(:last-child) {
    margin-block-end: 80px;
  }

  .section__paragrah-wraper:not(:last-child) {
    margin-block-end: 20px;
  }

  .gallary {
    padding-inline: 20px;
    padding-block-end: 60px;
  }

  .gallary__title {
    margin-block-end: 20px;
  }

  .gallary__wraper {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .sanset {
    grid-column: span 2;
  }

  .tape {
    grid-row: 2 / 4;
  }

  .street {
    grid-column: 2 span;
    grid-row: 3;
  }

  .ice-cream {
    grid-row: span 2;
  }

  .footer {
    min-block-size: 1024px;
  }
}

@media (width >= 1024px) {
  .header {
    padding-inline-end: 20px;
    min-block-size: 768px;
  }

  .title {
    font-size: var(--font-size-descktop);
  }

  .header__theme-menu {
    margin-block-start: 13px;
    margin-inline-end: -20px;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .small-text-markap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .footer {
    min-block-size: 768px;
  }
}
