:root {
  --red:#FF0070;
  --violet:#DB00FF;
  --pink:#F1B2CE;
  --blue:#000028;
  --red-light:#FF007066;
  

  --purple-pink:#FF8DCB;
  --color-Cotton-candy:#FFC2E6;
  --umber-gray:#353430;
  --umber-gray-light:#32312D66;

  --color-bg-subtitle: var(--red);
  --color-section-title: var(--red);
  --color-title: var(--violet);
  --color-subtitle: var(--blue);
  --background-image: url('../images/cover-image-dark.png');
  --color-main-text: var(--pink);
  --color-text-accent: var(--red);
  --color-text-accnet-shadow: var(--pink);
  --color-title-shadow: var(--red);
  --color-navigation: var(--red);
  --color-border-hover:var(--red-light);
  --color-decorated:var(--red);
  --main-font-family: 'IBM Plex mono';
  --main-font-size: 18px;
  --font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-descktop:clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}
